<mat-toolbar class="header-2page">
  <span class="for-text-header" style="padding-top: 2px !important;"> Сопоставляемый товар</span>
  <span class="spacer"></span>
     <button class="button-color" mat-raised-button (click)="backClicked()">Назад</button>
</mat-toolbar>
<div class="margin-auto" style="margin-top: 1px !important;">
  <table class="back-table">
    <thead>
      <tr>
        <td>Наименование товара</td>
        <td>Магазин</td>
        <td>Цена</td>
        <td>Регион</td>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{data.product}}</td>
      <td>{{data.store}}</td>
      <td>{{data.price}}</td>
      <td>{{data.region}}</td>
    </tr>
    </tbody>
  </table>

<div class="div-input for-text-bottom">
  <form (ngSubmit)="result(f.value)" #f="ngForm" class="margin-auto">
    <mat-form-field style="text-align: center; max-width: 80%; width: 100%">
      <mat-placeholder class="placeholder">Введите товар для поиска</mat-placeholder>
      <input name="product" #name="ngModel" (ngModel)="name.name" class="for-input" matInput required/>
    </mat-form-field>
    <div><button [disabled]="flagLoading" class="button-color" mat-raised-button>Искать</button></div>
  </form>
</div>

  <div *ngIf="tempData">
    <div class="div-bottom for-text-bottom" style="margin-top: 0; margin-left: 0; width: 998px">
      Результаты поиска
    </div>
    <div class="div-bottom-and-table for-text-bottom" style="margin-top: 31px; margin-left: 0">
      <table class="back-table" style="width: 1000px">
        <thead>
        <tr>
          <th>Наименование товара</th>
          <th>Код товара</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of tempData">
          <td> {{ product.name }} </td>
          <td> {{ product.code }} </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>


