
  <button class="button-color" mat-raised-button (click)="nextPage()"
          style="margin-right: 50px !important; display: none"></button>

      <div id="floatBarsG" *ngIf="checkout" style="margin-top: 55px;"> <!-- loader gif !-->
	      <div id="floatBarsG_1" class="floatBarsG"></div>
	      <div id="floatBarsG_2" class="floatBarsG"></div>
	      <div id="floatBarsG_3" class="floatBarsG"></div>
	      <div id="floatBarsG_4" class="floatBarsG"></div>
	      <div id="floatBarsG_5" class="floatBarsG"></div>
	      <div id="floatBarsG_6" class="floatBarsG"></div>
	      <div id="floatBarsG_7" class="floatBarsG"></div>
	      <div id="floatBarsG_8" class="floatBarsG"></div>
      </div>
