.login {
  display: block;
  background-color: rgba(120, 121, 116, 0.59) !important;
  color: white;
  border: 1px solid #fff;
  margin: 0 auto;
  margin-top: 350px;
  width: 500px;
  height: 250px;
  text-align: center;
}

.login-text {
  font-size: 12pt;
  font-family: arial;
}

.mat-input-element {
  font-size: 12pt;
}
